<div style="float:left;width:100%;">

    <img class='info_thumb' src="/media/rob.jpg" />

    <h2>Howdy. I'm rob.</h2>

    <p>
    If I've made you mad, sad, or glad, drop me a bell:
    </p>

    <p>
    <a href="mailto:robftz@gmail.com">robftz@gmail.com</a>, <a href="http://twitter.com/robfitz/">@robfitz</a>, and skype (rob.fitz.pat.rick).
    </p>

</div>

    <h3>A quick half decade</h3>

    <p>
    About 5 years ago I dropped out of grad school to start a game studio. We got sidetracked and spent 4 years making advertising technology, with the kind support of <a href="http://ycombinator.com">ycombinator</a> (summer '07) and a wonderful team of investors & advisors in SF and London.
    </p>

    <h3>So I'm going to make these games</h3>

    <p>
    Flash forward to today (skipping over one or two more failures and <a href="http://thestartuptoolkit.com/blog">experiments</a>) and I'm back to games. Working on what you love is a real competitive advantage, and I've got a vision for a new generation of collectible card games, designed for competitive online tournament play, and embracing every player as a game designer.
    </p>

    <h3>But first, I'm making some tools</h3>

    <p>
    So I began making those games, and started to see a couple problems, which means it's time to put the games on hold for a couple weeks and go problem solving.
    </p>
    <p>
    First, <b>everyone involved in games has a shitty portfolio</b> (except artists). Managing a portfolio should be a non-issue, especially when the output is visually rich and online anyway. <a href="http://github.com">Github</a> has helped a foster a ton of developer collaboration, and we can do the same for games.
    </p>
    <p>
    Second, a lot of promising projects never ship. This is borderline tragic. You've got brilliant, passionate people, and they lose steam or are missing a particular skillset or bit of encouragement and, as a result, the world never gets their games.
    </p>
    <p>
    Third, a team of hobbyists finds it <b>tough to easily collaborate and fairly compensate</b> themselves (or for a team of professionals to deal with loosely involved contributers). A huge number of potential game creators have other, full-time lives. I think it's possible to allow all these groups to work together fluidly, and to be rewarded for their contributions. I won't dwell on this now, since it's the furthest off, but it's what I'm most excited about.
    </p>

    <h3>Blah blah blah what have you actually done?</h3>

    <p>
    Yeah yeah I know, promises are in ample supply. So today I've launched <b>the start of an open game development community</b>. The idea is that we can all share our development process and build a portfolio and reputation for shipping. That helps us know who is worth collaboarating with (ie. they ship finished projects instead of flaking out at 80% complete). 
    </p>
    <p>
    I'm rolling it out on an invitation basis, since a lot of the behind-the-scenes stuff (e.g. registration, account management, creating new posts) is still pretty ugly, and I don't want to shock any chillins with the sight of a raw admin interface. If you'd like an invite, shoot me a quick email with a couple words (exactly 2) about what you're working on and how you'd like to use this sort of community.
    </p>
    <p>
    Also, I'm collaborating with a couple brilliant guys on a <b>fair collaboration and compensation model</b> for this sort of project. I hope to be releasing a whitepaper soon, grounding it in the traditions of gainsharing and startup founder equity. I'm trialling the model with my current team, involving myself and 3 other very-part-time helpers who are working around their own full-time jobs and startups.
    </p>

    <h3>You are a trooper!</h3>

    <p>
    You read a lot of words! Anyway, my contact deets are up at the top. Shoot me a note if you've got any thoughts.
    </p>
    


    

    {{ project.status }}

</div>
