<a href="javascript:void(0);" onclick="home()" class="info_home_button">Close X</a> 

{% block before_info %} 
{% endblock %}

<div class="info_top">

    {% block title %} 
    {% if request.user == user %}
        <h2>{{ user.username }}<span class="medium" style="margin-left:10px;"><a class='ajax_link' href='/user/{{ user.username }}/?edit=t'><img src="/media/ui/page_edit.png"/>Edit</a></span></h2>
    {% else %}
        <h2>{{ user.username }}</h2>
    {% endif %}
        
    {% endblock %}

    <div class="info_thumb">
    {% block thumb %} 

        <img class='info_thumb' src="{{ user.get_profile.thumbnail }}" />

    {% endblock thumb %}
    </div>

    {% block info %}
    <p>
    <span class="medium">Member for {{ user.get_profile.signup_date|timesince }}</span> 
    </p>

    <p>
    <span class="tag">game design</span>, <span class="tag">coding</span>
    <p>

    {% endblock %}
</div>

<div class='post_contents' >

    {% block about %}
        <h3>About</h3>
        {% if user.get_profile.about %} 

            {% load markup %}

            {{ user.get_profile.about|markdown }}

        {% else %} 
            <p>
            None yet 
            </p>
        {% endif %}
    {% endblock %}

</div>
<div class="fl">

    {% block projects %}

    {% if user.get_profile.owned_projects %}
        <h3>Games I lead</h3>

        <p>
        <ul class='mini_updates'>
            {% for project in user.get_profile.owned_projects reversed %}
                <li>{% include 'project_title_inline.html' %}
            {% endfor %}
        </ul>
        </p>
    {% endif %}

    <h3>Games I contribute to</h3>

    {% if user.get_profile.contributer_projects %} 

        <p>
        <ul class='mini_updates'>
            {% for project in user.get_profile.contributer_projects reversed %}
                <li>{% include 'project_title_inline.html' %}
            {% endfor %}
        </ul>
        </p>

    {% else %}

        <p>
        None yet
        </p>

    {% endif %}

    <h3>Updates</h3>

    {% if user.get_profile.updates %}

        <ul class="mini_updates">
        {% for update in user.get_profile.updates reversed %}
        <li><span class="update_tag {{ update.type|slugify }}"><a class='ajax_link' href='/blurb/{{ update.id }}/'><img src="/media/ui/tag-{{ update.type|slugify }}.png" /></a></span>{{ update.title_html|safe }} 
        {% endfor %}
        </ul>

    {% else %}

        <p>
        None yet
        </p>

    {% endif %}
    {% endblock %}
</div>
