{% extends 'project.html' %}

{% block before_info %}

    <form enctype="multipart/form-data" id='form' method="post" action='/project/{{ project.id }}/'>
        {% csrf_token %}

        <input type="hidden" value="{{ project.id }}" name="project" /> 
    
{% endblock %}

{% block thumb %} 
{% endblock %}

{% block title %}

    <h3>Game name</h3>
    <input class='input' value="{{ update.title }}" id="title_id" name="title" />

    <h3>Thumbnail <span class="medium"></span></h3>
    <input name="thumbnail" id="thumbnail_upload" type="file" />

{% endblock %}

{% block status %}
    <h3>Status <span class="medium">How far along are you?</span></h3>
    <p>
    <select name="status">
        {% for status, name in statuses %}
        <option value='{{ status }}' {%if status == project.status%}selected=true{%endif%}>{{ name }}</option>
        {% endfor %} 
    </select>
    </p>

{% endblock status %}

{% block pitch %}

    <h3>Elevator pitch <span class="medium">Describe the game in a couple sentences.</span></h3>
    
    <textarea id="pitch_id" name="pitch">{{ project.pitch }}</textarea>


{% endblock %}

{% block development_media %}

    <h3>Development media <span class="medium">Video and images of the work-in-progress.</span></h3>

    {% if project.development_media %} 
        {{ block.super }}
    {% endif %}
    <input name='development_media' type="file" class='gallery' />
    <p>
    <a href="javascript:void(0);" id="new_development_video">Add youtube video</a>
    </p>

    <div id="new_dev_vid" class="hidden dev_vid">
        <label for="id_development_video_url">Youtube link</label>
        <input name="development_video_url" id="id_development_video_url" />
        <label for="id_development_video_description">Video description</label>
        <input name="development_video_description" id="id_development_video_description" />
    </div>
{% endblock %}

{% block launch_media %}
    <!--
    {% if project.launch_media %} 
        {{ block.super }}
    {% endif %}
    <input name='launch_media' type="file" class='gallery' />
    <p>
    <a href="javascript:void(0);" id="new_launch_video">Add youtube video</a>
    </p>
    <div id="new_launch_vid" class="hidden launch_vid">
        <label for="id_launch_video_url">Youtube link</label>
        <input name="launch_video_url" id="id_launch_video_url" />
        <label for="id_launch_video_description">Video description</label>
        <input name="launch_video_description" id="id_launch_video_description" />
    </div>
    -->
{% endblock %}

{% block updates %}
{% endblock %}

{% block after_info %}
        <input type="submit" class="button blue" value="Save changes" />
    </form>

    <script>
        $(function() {
            $("#title_id").focus();

            $("#new_launch_video").click( function () {
                var vid = $("#new_launch_vid").clone();
                vid.attr("id", "")
                vid.insertAfter($(this));
                vid.show(); 
                vid.find("input, textarea").each( function () {
                    $(this).attr("name", $(this).attr("name") + "_" + uploads);
                }); 
                uploads ++;
            });

            $("#new_development_video").click( function () {
                var vid = $("#new_dev_vid").clone();
                vid.attr("id", "")
                // $(this).insertAfter(vid);
                vid.insertAfter($(this));
                vid.show(); 
                vid.find("input, textarea").each( function () {
                    $(this).attr("name", $(this).attr("name") + "_" + uploads);
                } );
                uploads ++;
            });

        });
    </script>

    <script>

        var uploads = 1;

        // handle async gallery uploads
        $("input.gallery").change( function ( event ) { 
            // when an open file input is used, add another blank one
            var new_upload = $(this).after($(this).clone(true).val(null)); 
            new_upload.attr("name", new_upload.attr("name") + uploads);

            uploads ++;

            // prevent from adding yet another if changed again later
            $(this).unbind("change");
            var current_upload = $(this);

            // add a little delete button to
            var del_button = $("<a href='javascript:void(0);' class='medium'>Delete</a>").insertAfter($(this));
            del_button.click(function(event) { 
                current_upload.remove(); 
                $(this).remove(); 
            }); 
        });
    </script>

    <script>
        /**
        $("#form").submit(function(event) {
            $.post($(this).attr("action"),
                $(this).serialize(),
                function(data) {

                    alert(data);

                    var json = eval( '(' + data + ')' );

                    alert(json['project']);
                    alert(json.project);
                    alert("project saved, id=" + json['update_html']);
                    $("#form").attr("action", "/project/" + json['project'] + "/");
                    $("input[name='project']").attr("value", json['project']); 

                    $(".stream").prepend(json['update_html']);

                }
            );
            return false;
        });
        */
    </script>
{% endblock %}
