{% extends 'base.html' %}

{% block meta %}

<script src="http://scripts.embed.ly/jquery.embedly.min.js"></script>

{% endblock %}

{% block header_title %}
Multiplayful
{% endblock %}

{% block style %}

.left_col {
    width:540px;
    float:left;
}
.stream {
    width:540px;
    float:left;
    background-color:#fff;
    margin:4px 0 -4px -10px;
} 

.info_outer {
    width:340px;
    float:left;
    padding:12px 20px;
    position:fixed;
    margin-left:540px; 
    overflow:auto;
    top:50px;
    bottom:10px;
}
.post_contents {

}
.info p {
    margin:10px 0;
}
.info h2 {
    margin-top:10px;
}
.info h3 {
    margin-top:20px;
}
.info_top, .post_contents {
    width:325px;
}
.info textarea {
    width:320px;
    height:150px;
}
.info .button {
    float:right;
    margin:0;
}

.launch_vid label, .dev_vid label {
    width:120px;
    float:left;
}
.launch_vid input, .dev_vid input {
    width:200px;
}

.info_thumb img {
    width:120px;
    height:120px;
    border:1px solid #d9d9d9;
    padding:1px;
}
.info_thumb {
    float:left;
    margin-right:10px;
    width:122px; 
}
.edit_title {
    margin-top:20px;
    width:186px;
}
    
.stream_alert { 
    width:480px;
    margin:10px 0 -5px 10px;
    padding:10px 20px;
    display:block;
    background-color:#efefef;
    border:1px solid #cccccc;
}

.update {
    width:540px;
    border-top:1px solid #d9d9d9;
    margin-top:-1px;
    float:left;
    position:relative;
}
.update .endcap {
    height: 100%;
    width:20px;
    position:absolute;
    bottom:0;
    background-color:#000;
}

.update_tag {
    height:20px;
    background-color:#000;
    margin-right:6px;
    float:left;
    margin-top:-4px;
    margin-bottom:4px;
}

ul.mini_updates {
    list-style-type:none;
    float:left;
    clear:both;
    width:100%;
}
ul.mini_updates li {
    margin:1px 0;
    float:left;
    width:100%;
}

.endcap.blog, .update_tag.blog {
    background-color:#003bae;
}
.endcap.pitch, .update_tag.pitch,
.endcap.new-project, .update_tag.new-project { 
    background-color:#ff2b00;
}

.endcap.screenshots, .update_tag.screenshots { 
    background-color:#15ab00;
}
.endcap.video, .update_tag.video {
    background-color:#15ab00;
}
.endcap.dev-log, .update_tag.dev-log {
    background-color:#b44010;
}

.update .endcap img {
    margin-top:10px;
}

.update p {
    margin:4px 0;
}
.stream:first-child {
    border-top:0px solid white;
}

.update.selected {
    // background-color:#fbd4b9;
    background-color:#ddd;
}
.update.hover {
    // background-color:#fbc299;
    background-color:#ccc;
}

.update .thumb {
    float:left;
    margin:10px 10px 10px 30px;
    height:80px;
    width:80px; 
}
.update .outer_contents {
    padding:10px 0 0 0;
}
.update .contents, .update .outer_contents {
    width:410px;
    float:left;
}
.update .contents img {
    height:50px;
    width:50px; 
    padding:1px;
    border:1px solid #d9d9d9; 
}

.update h3 {
}

.update p {
}

.update_contents {
    float:left;
}

.info .screenshot, .info .post_contents img {
    width:96px;
    height:96px;
    margin:2px;
    border:1px solid #d9d9d9;
    padding:1px; 
}

.info .post_contents {
    float:left;
    clear:both; 
}

.thumb_inline {
    width:22px;
    height:20px;
    float:left;
    margin-right:4px;
}
.header .thumb_inline {
    height:16px;
    width:16px;
    margin:0;
    float:none;
}

.info .title_inlines {
    width:190px;
}
.title_inlines { 
    float:left;
}
.title_inlines > * {
    width:100%;
}
.title_inline {
    margin:1px 0;
    float:left;
}

.unconfirmed_updates {
    margin-top:60px;
    width:540px;
    padding:10px 10px 10px 10px;
    background-color:#fff;
    text-align:left;
}

.unconfirmed_controls {
    margin-top:10px;
    float:right;
}
.unconfirmed_controls * {
    margin-left:20px;
    margin-right:0;
}

{% endblock %}

{% block jqmWindow %}

    <div class='unconfirmed_updates border rounded fl'>

        <h2>This update is about to be published</h2>

        {{ unconfirmed_updates_html|safe }}

        <div class="unconfirmed_controls">
            <a href='javascript:void(0);' onclick='discard_unconfirmed_updates()'>Discard</a>
            <!--
            <a href='javascript:void(0);' class="button" onclick='edit_unconfirmed_updates()'>Edit</a>
            -->
            <a href='javascript:void(0);' class="button blue" onclick='publish_unconfirmed_updates()'>Okay</a>
        </div>

    </div>

{% endblock %}

{% block extra_popups %}
    {% if show_no_invite_alert %}
        <div class="jqmWindow hidden" id="no_invite_dialog" style="overflow:auto;">

            <div class='unconfirmed_updates border rounded fl'>
                <h2>You need an invitation to sign up</h2>
                <p>
                Multiplayful requires an invitation while we ensure the community and technology are up to snuff. If you'd like to get a quick message when an invite is available, just let us know what you're up to in the field below. Thanks!
                </p>
                <form action='/accounts/request_invite/' method='POST'>
                    {% csrf_token %}
                    <textarea name="appeal" style="width:100%;height:80px;"></textarea>

                    <a href="javascript:void(0);" onclick="reject_invite()">I didn't want in anyway</a>
                    <input type="submit" class="fr button blue" value="Request invite" />
                </form>
            </div> 
        </div>

        <script>
            $(function() {
                $("#no_invite_dialog").jqm({modal:true});
                $("#no_invite_dialog").jqmShow();


                $("#no_invite_dialog form").submit( function ( event ) { 
                    $("#no_invite_dialog").jqmHide(); 
                    $.post( $(this).attr("action"),
                        $(this).serialize(),
                        function () { alert("appelaed"); });
                    return false;
                });
            });

            function reject_invite() {
                $.get("/accounts/reject_invite/");
                $("#no_invite_dialog").jqmHide();

            }
        </script>
    {% endif %}
{% endblock %}

{% block content %}

<div class='left_col'>

    {% if not request.user.is_authenticated %}
        {% include 'email_c2a.html' %}
    {% endif %}

    <div class='stream border rounded'> 

        {{ updates_html|safe }} 

    </div>

</div>

<script>

    /**
    function edit_unconfirmed_updates() { 
    }
    */

    function discard_unconfirmed_updates() {
        $(".unconfirmed_updates .update").each( function () { 
            $.get("/blurb/discard/" + $(this).attr("name") + "/"); 
        });

        $("#dialog").jqmHide();
    }

    function publish_unconfirmed_updates() {
        $(".unconfirmed_updates .update").each( function () { 
            $.get("/blurb/publish/" + $(this).attr("name") + "/"); 
        });

        var new_updates = $(".unconfirmed_updates .update").detach().hide(); 
        $(".stream").prepend(new_updates); 
        new_updates.slideDown();

        $("#dialog").jqmHide();
    }

    $(window).load(function(){
        reset_ajax();
    });

    $(function() { 
        {% if unconfirmed_updates_html %}
            $("#dialog").jqm({modal:true});
            $("#dialog").jqmShow();
        {% endif %}
    });

    function reset_ajax() {
        $(".update a, .info .title_inline a, .ajax_link").unbind("click");
        $(".update a, .info .title_inline a, .ajax_link").click( function (event) {

            var url = $(this).attr("href");
            var url_start = url.substring(0, 3);
            if (url_start == "www" || url_start == "htt") {
                // don't ajax if it's external
                return true;
            }
            else if (url.split(".").length > 1) {
                // don't ajax if it has a file extension
                return true;
            }

            $.get(url,
                function(data) {
                    $(".info").html(data);
                    reset_ajax();
                }
            ); 

            return false;
        }); 

        $(".update a.lightbox").children().unwrap();

        $(".update").each(function() {

            $(this).find(".contents img").wrap(function() {
                var toks = $(this).attr("src").split(".");
                return "<a href='" + toks[0] + "." + toks[toks.length-1] + "' class='lightbox' />";
            }); 
            $(this).find(".contents img").each(function() {
                var toks = $(this).attr("src").split(".");
                $(this).attr("src", toks[0] + ".thumb." + toks[toks.length - 1]);
            });

            $(this).find(".lightbox").lightBox();
        });

        $('.info .lightbox').lightBox();

        // do last in case it doesn't load
        $('.info').embedly({
            key:'d3f9f6e8c7ee11e0b9a74040d3dc5c07',
            maxWidth:$('.info').width(),
        });
    } 

    $(function() { 

        $(".update").click( function (event) {
            $(".update").removeClass("selected");
            $(this).addClass("selected");

            $.get("/blurb/" + $(this).attr("name") + "/",
                function(data) {
                    $(".info").html(data);
                    reset_ajax();
                }
            ); 
        });


        // highlight effects
        $('.update').mouseenter( function (event) {
            $('.update').removeClass("hover");
            $(this).addClass("hover");
        });
        $('.update').mouseleave( function (event) {
            $(this).removeClass("hover");
        });

        {% if info_ajax_url %}
            $.ajax({
                url: "{{ info_ajax_url }}", 
                    success: function(data) {
                        $(".info").html(data);
                        reset_ajax();
                    },
                });

                /**
            $.get("{{ info_ajax_url }}",
                function(data) {
                    $(".info").html(data);
                    reset_ajax();
                }
            ); 
            */
        {% else %}
            home();
        {% endif %}

    });

    function home() {
        // auto-select the first post
        // TODO: avoid doing this on direct link to elsewhere
        $('.update').first().click();
    }

</script>

<div class='info_outer'>
    <div class='info'> 
    </div>
</div>

{% endblock content %}
