{% block before_info %}
{% endblock %}

<div class="info_top">

    {% block title %}
        <h2>{{ update.title }}</h2>
    {% endblock %}

    <div class="info_thumb">
        {% block thumb %} 

            <img class='info_thumb' src="{{ update.thumb }}" />

        {% endblock thumb %}
    </div>

    {% include 'update_attribution_inlines.html' %} 

    {% if request.user == update.author %}
        <p>
        <a class='ajax_link' href='/blurb/{{ update.id }}/?edit=t'>Edit</a>
        </p>
    {% endif %}

</div>

<div class='post_contents' >
    {% block content %}
        {% load markup %}
        {{ update.content|markdown }} 
    {% endblock content %}
</div>

<script>
    $(function() {
        $(".post_contents img").wrap(function() {
            return "<a href='" + $(this).attr('src') + "' class='lightbox' />";
            }); 
        $(".post_contents img").each(function() {
            var toks = $(this).attr("src").split(".");
            $(this).attr("src", toks[0] + ".thumb." + toks[toks.length - 1]);
        });
    });
</script>

{% block after_info %}
{% endblock %}
